<app-header></app-header>
<div class="allContainer">
  <div class="home-container">
    <!-- section hero -->
    @if (loadingData ) {
      <app-spinner></app-spinner>
    }
    <section class="hero-section">
      <div class="home-slider owl-carousel">
        <div class="slider-item">
          <div class="overlay"></div>
          <div class="container-fluid px-md-0">
            <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end">
              <div class="one-third order-md-last img" style="background-image:url(assets/image/tof1.jpg);">
                <div class="overlay"></div>
                <div class="overlay-1"></div>
              </div>
              <div class="one-forth d-flex  align-items-center ftco-animate" >
                <div class="text">
                  <span class="subheading">Avec BDNF Marketing Solutions</span>

                  <h1 class="mb-4 mt-3">Transformez votre présence <span>digitale </span> Designer &amp; en succès</h1>
                  <!-- <p><a href="#" class="btn btn-primary">Hire me</a> <a href="#" class="btn btn-primary btn-outline-primary">Download CV</a></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

  <!-- section nos services -->
   @if (!loadingData) {
     <section class="ftco-section" id="services-section">
       <div class="container">
         <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Nos</span> Services</h3>
              <p>Découvrez nos services personnalisés pour propulser votre marque et atteindre vos objectifs de communication.</p>
            </div>
          </div>
        </div>
         <div class="row mb-5 link-blog">
          <div class="col-md-6">
            <h4 class="section-title">Nos récents services</h4>
          </div>
          <div class="col-md-6 text-start text-md-end">
            <a  class="text-decoration-none boxed-btn"  [routerLink]="['/user-service']">Voir toutes les services<i class="bi bi-arrow-right-circle ms-2" ></i></a>
          </div>
        </div>

         <div class="row">
           @for (service of lastFourService; track service) {
             <div class="col-md-6 col-lg-4 toto">
               <div class="media block-6 services d-block rounded-lg shadow ftco-animate">
                 <div class="icon d-flex align-items-center justify-content-center"><i class="bi bi-graph-up"></i></div>
                 <div class="media-body">
                   <h3 class="heading mb-3"> {{service.nomService}} </h3>
                   <p> {{service.descriptionService}} </p>
                 </div>
               </div>
             </div>

           }

         </div>
         <!-- <div class="boutonService text-center mb-3">
           <button class="btn" [routerLink]="['/user-service']" > Voir tous les services</button>
         </div> -->

       </div>
     </section>

   }
  <!-- Section call to contact -->
   @if (!loadingData) {
     <section class="ftco-hireme">
       <div class="container">
         <div class="row ">
           <div class="col-md-8 bg-danger col-lg-8 ">
             <div class="">
               <h2>Vous avez un projet en tête ?</h2>
               <p class="text-white">Laissez-nous transformer vos idées en réalité. BDNF Marketing Solutions est votre partenaire pour une communication réussie. Contactez-nous pour commencer dès aujourd'hui !</p>
               <!-- <p class="mb-0"><a href="#" class="btn btn-white py-3 px-4">Contact me</a></p> -->
               <a class="button-btn" (click)="navigateToLinkeDin()" target="_blank" > Contacter moi</a>
             </div>
           </div>
           <div class="col-md-4  col-lg-4 d-flex justify-content-center align-items-center">
             <img src="assets/image/link2.png" class="img-fluid" alt="">
           </div>
         </div>
       </div>
     </section>

   }

    <!-- section mes realisation -->
     @if (!loadingData) {
       <section class="ftco-section ftco-project" id="projects-section">
         <div class="container ">

           <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
              <div class="section-title">
                <h3><span class="orange-text">Nos</span> Realisations</h3>
                <p>Jetez un œil à nos projets récents et voyez comment nous avons aidé nos clients à réussir.</p>
              </div>
            </div>
          </div>

           <div class="row mb-5 link-blog">
            <div class="col-md-6">
              <h4 class="section-title">Nos récentes réalisations</h4>
            </div>
            <div class="col-md-6 text-start text-md-end">
              <a  class="text-decoration-none boxed-btn" [routerLink]="['/realisation-user']">Voir toutes les réalisations <i class="bi bi-arrow-right-circle ms-2" ></i></a>
            </div>
          </div>
           <div class="row">
             @for (realisa of lastFourRealisation; track realisa) {
               <div class="col-md-6">
                 <div class="project img shadow ftco-animate d-flex justify-content-center align-items-center"  [ngStyle]="{'background-image': 'url(' + 'https://api.bdnf-marketing-solutions.com/' + realisa.image + ')'}" >
                   <div class="overlay"></div>
                   <div class="text text-center p-4">
                     <h3><a href="#"> {{realisa.titre}} </a></h3>
                     <span class=""> {{realisa.description}} </span>
                   </div>
                 </div>
               </div>

             }
             <!-- <div class="boutonService text-center mb-3">
               <button class="btn" [routerLink]="['/realisation-user']" > Voir toutes les realisations</button>
             </div> -->



           </div>
         </div>
       </section>

     }

    <!-- section blog -->
    <section  class="blog-section ">
      <div class="container">

        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Nos</span> Articles</h3>
              <p>  Restez informé avec nos articles sur les dernières tendances et stratégies en marketing digital.</p>
            </div>
          </div>
        </div>
        <div class="row mb-5 link-blog">
					<div class="col-md-6">
						<h4 class="section-title">Nos récents articles</h4>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a  class="text-decoration-none boxed-btn" [routerLink]="['/blog-user']">Voir tous les articles <i class="bi bi-arrow-right-circle ms-2" ></i></a>
					</div>
				</div>

        <div class="row  my-blog mb-5">
          @for (article of  lastFourArticel; track article) {

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
              <div class="post-entry">
                <a [routerLink]="['/blog',article.uuid]"  class="post-thumbnail">
                  <img [src]="'https://api.bdnf-marketing-solutions.com/' + article.image" class="img-fluid" alt="...">
                </a>
                <div class="post-content-entry">
                  <h3><a [routerLink]="['/blog',article.uuid]" > {{article.titre}} </a></h3>
                  <div class="meta">
                    <span>by <a [routerLink]="['/blog',article.uuid]" >Kristin Watson</a></span> <span>on <a [routerLink]="['/blog',article.uuid]" > {{article.created_at | dateFormat}}  </a></span>
                  </div>
                </div>
              </div>
            </div>
          }


        </div>
      </div>
    </section>

    <!-- Section About -->

    <section class="about-section">
      <div class="abt-section mb-150">
        <div class="container">
          <div class="row ">
            <div class="col-lg-6  p-0 col-md-12">
              <div class="abt-bg">
                <img src="assets/image/abt.webp" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="abt-text">
                <!-- <p class="top-sub">Since Year 1999</p> -->
                <h3 class="fw-bold">Nous sommes <span class="orange-text">BDNF Marketing Solutions</span></h3>
                <p> BDNF Marketing Solutions est une entreprise individuelle dédiée à aider les entreprises et les particuliers à gérer leur communication, de la conception à la mise en œuvre de leur stratégie. J'offre une gamme de services, allant de la gestion des réseaux sociaux et de la création de contenu à l'analyse de données et aux campagnes publicitaires ciblées.</p>
                <p>Ma passion est de voir chaque entreprise atteindre ses objectifs en maximisant sa visibilité et en optimisant son retour sur investissement. Avec une approche personnalisée et axée sur les résultats, BDNF Marketing Solutions est votre partenaire idéal pour réussir dans le paysage marketing moderne. Ensemble, faisons briller votre entreprise!</p>
                <a [routerLink]="['/about']" class="boxed-btn mt-4">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section temoignage -->
    <section class="ftco-section testimony-section">
      <div class="container">


        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="section-title">
              <h3><span class="orange-text">Nos</span> Temoignages</h3>
              <p>Ne prenez pas notre parole pour acquise. Lisez ce que nos clients disent de nous.</p>
            </div>
          </div>
        </div>

<section class="abouttemoignage mb-4">
  <div class="temoignageaboutcontainer">
      <div class="container">
        <div class="row">

          <div class=" col-sm-12 col-md-6 col-lg-3 mytestitimonial">
            <div class="card shadow-lg border-0" >
              <div class="d-flex justify-content-around mt-2">
                <div class="imagecard">
                  <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                </div>
                <div class="namecardtop">
                  <p>Ami Fall</p>
                </div>

              </div>
              <div class="card-body">
                <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>
                <div class="d-flex justify-content-center align-items-center ">
                  <div class="">
                    <i class="bi bi-person-fill me-3 align-items-center"></i>
                  </div>
                  <div class="pt-3">
                    <p class=" fw-medium">Chef entreprise</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mytestitimonial">
            <div class="card shadow-lg border-0" >
              <div class="d-flex justify-content-around mt-2">
                <div class="imagecard">
                  <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                </div>
                <div class="namecardtop">
                  <p>Ami Fall</p>
                </div>

              </div>
              <div class="card-body">
                <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>
                <div class="d-flex justify-content-center align-items-center ">
                  <div class="">
                    <i class="bi bi-person-fill me-3 align-items-center"></i>
                  </div>
                  <div class="pt-3">
                    <p class=" fw-medium">Chef entreprise</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mytestitimonial">
            <div class="card shadow-lg border-0" >
              <div class="d-flex justify-content-around mt-2">
                <div class="imagecard">
                  <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                </div>
                <div class="namecardtop">
                  <p>Ami Fall</p>
                </div>

              </div>
              <div class="card-body">
                <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>
                <div class="d-flex justify-content-center align-items-center ">
                  <div class="">
                    <i class="bi bi-person-fill me-3 align-items-center"></i>
                  </div>
                  <div class="pt-3">
                    <p class=" fw-medium">Chef entreprise</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mytestitimonial">
            <div class="card shadow-lg border-0" >
              <div class="d-flex justify-content-around mt-2">
                <div class="imagecard">
                  <img class="img-fluid" src="https://media.istockphoto.com/id/1278622653/photo/young-woman-baking.jpg?s=612x612&w=0&k=20&c=froE165iUFRxUdUhHV1Mnpo94tbHqs6PlAy3fMkfFY4=" alt="">
                </div>
                <div class="namecardtop">
                  <p>Ami Fall</p>
                </div>

              </div>
              <div class="card-body">
                <i class="bi bi-quote crochet"></i> <p class="card-text lead">  Some quick example text to build on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. on the card title and make up the bulk of the card's content. <i class="bi bi-quote crochet1"></i></p>
                <div class="d-flex justify-content-center align-items-center ">
                  <div class="">
                    <i class="bi bi-person-fill me-3 align-items-center"></i>
                  </div>
                  <div class="pt-3">
                    <p class=" fw-medium">Chef entreprise</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  </section>


      </div>
    </section>








  </div>
</div>
<app-footer></app-footer>
