:root {
  --redColor: #a12825;
  --beigeColor: #e7dcd6;
}

.hero {
  width: 100%;
  min-height: 60vh;
  position: relative;
  padding: 10px 0 30px 0;
  display: flex;
  align-items: center;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}


.hero .btn-watch-video:hover {
  color: var(--accent-color);
}


.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* .heading-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: #a12825;
  margin-top: 10px;
}


.owl-carousel.home-slider .slider-item .slider-text h1 span {
  font-weight: 800;
  color: #e7dcd6;
}

.heading-section h2 span {
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.owl-carousel.home-slider {
  position: relative;
  height: 500px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  position: relative;
  z-index: 0;
}

@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}

.owl-carousel.home-slider .slider-item .slider-text {
  height: 80vh;
  z-index: 0;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-third {
  width: 50%;
  position: relative;
  height: 80vh;
  z-index: -1;
  -webkit-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
  box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
}

.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay,
.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay-1 {
  position: absolute;
  left: -7%;
  background: #fff;
  width: 120px;
  background-color: var(--beigeColor);
  height: 50%;
  opacity: 1;
  border-right: 10px solid #a12825;
}

@media (max-width: 991.98px) {

  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay,
  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay-1 {
    opacity: 0;
    display: none;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
  top: 0;
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}

.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay-1 {
  bottom: 0;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 100%;
    z-index: 0;
  }

  .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
    opacity: 0.3;
  }

  .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
    opacity: 0;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-forth {
  width: 50%;
  position: relative;
}

@media (min-width: 768px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 1em;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
  width: 100%;
}

@media (min-width: 992px) {
  .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    max-width: 60%;
    padding-left: 45px;
    padding-right: 3em;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #b1b493;
}

.owl-carousel.home-slider .slider-item .slider-text .text {
  position: relative;
  z-index: 1;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 55px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
}

.owl-carousel.home-slider .slider-item .slider-text h1 span {
  font-weight: 800;
  color: #b1b493;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    color: #fff;
    font-size: 50px;
  }
}

@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text h2 {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h2 {
    color: #fff;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 23px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .btn-custom {
  border: 1px solid #b1b493;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

.owl-carousel.home-slider .owl-nav {
  position: absolute;
  bottom: 60px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .owl-nav {
    display: none;
  }
}

.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fff !important;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 1;
}

.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #000000;
}

.owl-carousel.home-slider .owl-nav .owl-prev {
  top: 0 !important;
  right: 0 !important;
}

@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-prev {
    right: 61px !important;
  }
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover,
.owl-carousel.home-slider .owl-nav .owl-prev:focus {
  background: #000000 !important;
  outline: none !important;
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before {
  font-size: 20px;
  margin-top: 7px;
  color: #b1b493;
}

.owl-carousel.home-slider .owl-nav .owl-next {
  top: 0 !important;
  right: 0 !important;
}

@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-nav .owl-next {
    right: 0 !important;
  }
}

.owl-carousel.home-slider .owl-nav .owl-next:hover,
.owl-carousel.home-slider .owl-nav .owl-next:focus {
  background: #000000 !important;
  outline: none !important;
}

.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
  font-size: 24px;
  margin-top: 7px;
  color: #b1b493;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .owl-carousel.home-slider .owl-dots {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .owl-carousel.home-slider .owl-dots {
    bottom: 5px;
  }
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  background: #fff;
}

.hero-wrap {
  width: 100%;
  height: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #000000;
}

.hero-wrap.hero-wrap-2 {
  height: 600px;
  position: relative;
  background-position: top center;
}

.hero-wrap.hero-wrap-2 .overlay {
  width: 100%;
  opacity: 0;
  background: #fff;
}

.hero-wrap.hero-wrap-2 .slider-text {
  height: 600px;
}

.slider-text h1 {
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  font-weight: 400;
}

@media (max-width: 991.98px) {
  .slider-text h1 {
    font-size: 40px;
  }
}

.slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.slider-text p strong {
  font-weight: 700;
}

.slider-text p strong a {
  color: #000000;
}

.slider-text .breadcrumbs {
  font-size: 16px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
}

.slider-text .breadcrumbs span {
  color: rgba(0, 0, 0, 0.8);
}

.slider-text .breadcrumbs span i {
  color: rgba(0, 0, 0, 0.8);
}

.slider-text .breadcrumbs span a {
  color: black;
}

.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus {
  color: #b1b493;
}

.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i {
  color: #b1b493;
}

.slider-text .bread {
  font-weight: 700;
  color: #000000;
} */

/* style  service */

.services {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  padding:  30px;
  margin-bottom: 60px;
  height: 260px;
  margin-right: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.services p {
  margin-top: 30px;
  overflow: hidden;
  /* Empêche le débordement du texte */
  text-overflow: ellipsis;
  font-size: 18px;
  /* Ajoute des points de suspension si le texte est trop long */
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Limite à 3 lignes par exemple */
  -webkit-box-orient: vertical;
}

.services .icon {
  line-height: 1.3;
  position: relative;
  margin-top: -60px;
  width: 60px;
  height: 60px;
  background: #a12825;
  border-radius: 50%;
  margin-bottom: 15px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .icon i {
  font-size: 28px;
  font-weight: 100;
  color: #fff;
}

.ftco-section .services {
  background-color: #e7dcd6;
}

.services .media-body h3 {
  font-size: 20px;
  font-weight: 500;
}

.services:hover {
  background: #a12825 !important;
}

.services:hover .icon {
  background: #fff;
  margin-left: 20px;
}

.services:hover .icon i {
  color: #E7DCD6;
}

.services:hover h3 {
  color: #fff;
}

.services:hover p {
  color: #fff;
}

.services:hover .media-body {
  color: rgba(255, 255, 255, 0.8);
}

.boutonService button {
  background-color: var(--redColor);
  width: 50%;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  border: none;
}

.boutonService button:hover {
  background-color: var(--beigeColor);
  width: 50%;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  margin: 0 auto;
  border: none;
}


/* style call to contact */
.ftco-hirem {
  background-color: #a12825;

}

.ftco-hirem img {
  height: 50vh;
  border-radius: 50px;
  /* margin-top: 300px; */

}

.ftco-hirem .row {
  background-color: var(--redColor);
  padding: 8vh 4vh;

}

.ftco-hirem h2 {
  color: #fff;
  font-size: 34px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .ftco-hireme img {
    margin-top: -90px;
  }
}

/* style realisation */
.project {
  width: 100%;
  height: 285px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  overflow: hidden;
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #000000;
  z-index: -1;
  border-radius: 5px;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 767.98px) {
  .project .overlay {
    opacity: 0.2;
  }
}

.project .text {
  max-width: 80%;
  z-index: 1;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project .text h3 {
  font-size: 20px;
  font-weight: 600;
}

.project .text h3 a {
  color: #A12825;
  font-weight: bold;
  text-decoration: none;
}

.project .text h3 a:hover {
  color: #fff;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-size: 24px;
  text-decoration: none;
}

.project .text span {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .project .text {
    opacity: 1;
  }

  .project .text span {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }
}

.project:hover .overlay,
.project:focus .overlay {
  opacity: 0.4;
}

.project:hover .text,
.project:focus .text {
  opacity: 1;
}

#projects-section {
  padding: 5rem 0 5rem 0;
}


#contactMe {
  background-color: white;
  color: #a12825;
}




/* section tremoignage about deebut */
.mytestitimonial .card {
  background-color: #e7dcd6;
  width: 18.5rem;
}

.mytestitimonial :hover {
  background-color: #a12825;
  color: #fff;
}

.imagecard img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.temoignageaboutcontainer .row {
  /* gap: 5px; */
}

.temoignageaboutcontainer .crochet {
  color: var(--redColor);
  font-size: 80px;
  font-style: italic;
}

.temoignageaboutcontainer .crochet {
  color: var(--redColor);
  font-size: 30px;
}

.temoignageaboutcontainer .crochet1 {
  color: var(--redColor);
  font-size: 20px;
}

.temoignageaboutcontainer p {
  font-size: 14px;
}

/* section temoignega fin */

/* new blog */


.blog-section {
  padding: 5rem 0 5rem 0;
  /* background-color: #e7dcd673; */
}

.blog-section .post-entry a {
  text-decoration: none;
}
.blog-section .post-entry a:hover, .blog-section .post-entry p:hover {
  color: var(--redColor);
  cursor: pointer;
}
.blog-section .post-entry p {
  font-size: 15px;
  font-weight:200;
}

.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}

.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
  height: 50vh;
  /* height: 50vh;
      width: 100%; */
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.blog-section .post-entry .post-content-entry {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-section .post-entry .post-content-entry h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
  margin-bottom: 7px;
}

.blog-section .post-entry .post-content-entry .meta {
  font-size: 14px;
}

.blog-section .post-entry .post-content-entry .meta a {
  font-weight: 600;
}

.blog-section .post-entry:hover .post-thumbnail img,
.blog-section .post-entry:focus .post-thumbnail img {
  opacity: .7;
}

.link-blog h4 {
  color: var(--redColor);
  font-weight: 500;
}



/* section about */

.about-section {
  padding: 5rem 0 5rem 0;

}

.abt-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.abt-bg img {
 height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
/* .abt-bg img {
} */

}

.abt-section .abt-text {
  padding: 50px;
  padding-left: 30px;
}

.abt-text p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.abt-text h3 {
  font-size: 20px;
  /* line-height: 1.6;
  margin-bottom: 10px; */
}

.abt-text p.top-sub {
  opacity: 0.8;
  margin-bottom: 10px;
}

.abt-text p:last-child {
  margin-bottom: 0;
}

a.boxed-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: var(--redColor);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

a.button-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: var(--beigeColor);
  color: #000;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

a.button-btn:hover {
  font-family: 'Poppins', sans-serif;
  display: inline-block;

  bac *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  user agent stylesheet div {
    display: block;
    unicode-bidi: isolate;
  }

  kground-color: #fff;
  /* border: 2px solid var(--redColor); */
  color: var(--redColor);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

a.boxed-btn:hover {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #fff;
  border: 2px solid var(--redColor);
  color: var(--redColor);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

.hero-header {
  background: var(--beigeColor);
}

#newsletter button {
  background-color: var(--redColor);
}

#newsletter h2 {
  color: var(--redColor);
}
