<!-- app.component.html -->
 <div class="content" [ngClass]="{'expanded': isSidebarClosed}" [ngStyle]="{'margin-left': isSidebarClosed ? '60px' : '250px'}">
  <!-- Navbar -->
  <nav>
    <form (submit)="handleSearchToggle()">
      <!-- Form content -->
    </form>
    <i class="bi bi-list" (click)="toggleSidebar()"></i>
    <!-- <input type="checkbox" id="theme-toggle" hidden (change)="toggleTheme()"> -->
    <!-- <label for="theme-toggle" class="theme-toggle"></label> -->
    <!-- <a href="#" class="notif">
      <i class='bx bx-bell'></i>
      <span class="count">12</span>
    </a> -->
    <a [routerLink]="['/admin/profil']" class="profile">
      <img src="/assets/image/profil.avif">

    </a>
  </nav>
  <!-- End of Navbar -->
</div>

<!-- Sidebar -->
<div class="sidebar" [ngClass]="{'close': isSidebarClosed}">
  <a class="logo" [routerLink]="['/home']">
    <img src="./assets/image/logo.png" alt="Logo">
  </a>
  <ul class="side-menu">
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/home-admin']">
        <i class="bi bi-grid"></i> Dashboard
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/service']">
        <i class="bi bi-bar-chart"></i> Service
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/article']">
        <i class="bi bi-journal-text"></i> Article
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/newsletter']">
        <i class="bi bi-newspaper"></i> Newsletter
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/realisation']">
        <i class="bi bi-trophy"></i> Realisation
      </a>
    </li>
    <li [routerLinkActive]="['active']">
      <a [routerLink]="['/admin/temoignage']">
        <i class="bi bi-chat-quote"></i> Temoignage
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a (click)="deconnexion()" class="logout">
        <i class="bi bi-box-arrow-left"></i> Deconnexion
      </a>
    </li>
  </ul>
</div>
<!-- End of Sidebar -->
