<app-sidebar></app-sidebar>
<div class="admingestioncontainer mt-5">

  <div class="container">
    <h4 class="mt-4 text-center">Liste des Inscris aux newsletters</h4>

    <div class="card " id="cardTableContainer">
      <div class="table-responsive  ">
        <table class="table align-items-center mb-0">
          <thead >
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Email</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder  ps-2">Date inscription</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Action</th>
            </tr>
          </thead>
          <tbody>

            @if ( allNewsletterData && allNewsletterData.length > 0 ) {
              @for (news of allNewsletterData ; track news) {
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 dd">{{news.email}} </h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="dd font-weight-bold mb-0">{{news.created_at | dateFormat}} </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <a   data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectedEmail(news)" class="myRespone">repondre</a>
                  </td>

                </tr>

              }
            } @else {
              <p class="text-center py-5"> Aucun inscris aux newsletters 😒</p>
            }


          </tbody>
        </table>
      </div>
    </div>


  </div>

  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"   aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header text-center">
          <h5 class="modal-title " id="exampleModalLabel">Ajouter une realisation</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  ">



            <form [formGroup]="newsletterForm" (ngSubmit)="addResponse()" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" required>
                <div *ngIf="newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.touched" class="text-danger">
                  L'email est requis.
                </div>
              </div>
              <div class="mb-3">
                <label for="libelle" class="form-label">libelle</label>
                <input type="text" class="form-control" id="libelle" formControlName="libelle" placeholder="Titre du newsletter" required>
                <div *ngIf="newsletterForm.get('libelle')?.invalid && newsletterForm.get('libelle')?.touched" class="text-danger">
                  Le titre est requis.
                </div>
              </div>

              <div class="mb-3">
                <label for="contenu" class="form-label">Contenu</label>
                <textarea class="form-control" id="contenu" formControlName="contenu" placeholder="Contenue ici" rows="4" required></textarea>
                <div *ngIf="newsletterForm.get('contenu')?.invalid && newsletterForm.get('contenu')?.touched" class="text-danger">
                  Le contenu est requise.
                </div>
              </div>



              <div class="d-flex justify-content-end" id="valada-final">
                <button type="submit" class="btn-custom" data-bs-dismiss="modal" >Ajouter</button>
                <a href="#" class="ms-3" data-bs-dismiss="modal">Annuler</a>
              </div>
            </form>

        </div>

      </div>
    </div>
  </div>

</div>
