:root {
  --redColor : #A12825;
  --beigeColor : #E7DCD6;
}

th{
  font-size: 12px;
}
h6, p{
  font-size: 13px;
}
#cardTableContainer{
  margin: 0 auto;
  width: 75%;
}
.myRespone{
  background-color: var(--redColor) ;
  padding: 5px 4px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  text-decoration: none   ;
}
a{
  cursor: pointer;
}

#valada-final button {
  background-color: var(--redColor);
  border-radius: 10px;
  padding: 8px;
  border: none;
  color: #fff;
}
#valada-final a{
  background-color: var(--beigeColor);
  border-radius: 10px;
  padding: 8px;
  border: none;
  color: #fff;
  text-decoration: none;
}
