<app-header></app-header>
<div class="allContainer">


<div class="article-continer">


</div>


<section class="newArticle ">
  @if (loadingData) {
      <app-spinner></app-spinner>

  }
  @else if (articleByIdData) {
      <div class="container" id="newAricleContainer">

  <div class="articleTile">
    <h1># {{articleByIdData.titre}} </h1>
  </div>
  <div class="imageAricle">
    <!-- <img src="assets/image/detail-blog.png" class="img-fluid" alt=""> -->
    <!-- <img [src]="'https://api.bdnf-marketing-solutions.com/' + articleByIdData.image" class="img-fluid" alt="..."> -->
    <img [src]="getArticleImage(articleByIdData)" class="img-fluid" alt="...">

  </div>
  <div class="articleText mt-3">
    <!-- <p>{{articleByIdData.contenue | textEditor}} . | </p> -->
    <p [innerHTML]="articleByIdData.contenue | textEditor"></p>

  </div>
  <hr>
  <div class="detailAricle d-flex justify-content-between">
    <div class="nbreComment">
      <p> {{dataCommnent.length}} commentaires</p>
    </div>
    <div class="likeComment">
      <!-- <i class="bi bi-hand-thumbs-up"></i> -->
    </div>
  </div>
  <hr>
</div>
}@else{
  <p class="text-center my-4">Détail article indisponible pour le moment 😒.</p>
}
</section>
<section class="lastArticle my-4">
  <div class="container" id="lastArticleContainer">
    <div class="lastArticleDetail d-flex justify-content-between">
      <p>Articles Recents</p>
      <a [routerLink]="['/blog-user']"  >Voir tout</a>
    </div>
    <div class="row row-gap-4">
      @for (last of lastTreArticle ; track last) {
        <div class=" col-sm-12 col-md-4 col-lg-4" id="lastCard">
          <div class="card">
            <!-- <img class="card-img-top img-fluid" src="assets/image/detail-blog.png" alt=""> -->
            <img [src]="getArticleImage(last)" class="img-fluid" alt="...">
            <div class="card-body">
              <a class="text-decoration-none" [routerLink]="['/blog', last.uuid]" > <h4 class="card-title text-start"> {{last.titre}} </h4> </a>

              <hr>
              <!-- <div class="detailAricle d-flex justify-content-between">
                <div class="nbreComment">
                  <p> O commentaire</p>
                </div>
                <div class="likeComment">
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      }

    </div>
  </div>
</section>
<section class="Comment"></section>
<section >
  <div class="container my-5 py-5">
    <div class="row  d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-10">
        <div class="card " id="commentStyle">
          <div style="max-height: 300px; overflow-y: auto;">
            @for (comments of newDataComment; track comments) {
              <div class="card-body">
                <div class="d-flex  flex-start align-items-center">
                  <!-- <img class="rounded-circle shadow-1-strong me-3"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                    height="40" /> -->
                  <div>
                    <h6 class="fw-bold mb-1"> {{comments.pseudo}} </h6>
                    <p class="text-muted small mb-0">
                      Commenté le - {{comments.created_at | dateFormat}}
                    </p>
                  </div>
                </div>

                <p class="mt-3 mb-4 pb-2">{{comments.contenue}}</p>
              </div>

            }
          </div>
          <div *ngIf="newDataComment.length < dataCommnent.length" class="text-end ">
            <button class="btn " id="showPlus" (click)="loadMoreComments()">Charger plus</button>
          </div>
          <div *ngIf="newDataComment.length == dataCommnent.length" class="text-end">
            <button class="btn " id="showPlus" (click)="loadLessComments()">Charger moins</button>
          </div>
          <div class="card-footer py-3 border-0 mt-2">
  <div class="d-flex flex-start w-100">
    <!-- <img class="rounded-circle shadow-1-strong me-3"
      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40" height="40" /> -->
    <div class="form-outline w-100">
      <form [formGroup]="categoForm" (ngSubmit)="ajouterCommentaire()">
        <div class="form-group">
          <label for="name">Pseudo <span class="text-danger">*</span></label>
          <input type="text" formControlName="pseudo" class="form-control" id="name">
          <div *ngIf="categoForm.get('pseudo')?.invalid && categoForm.get('pseudo')?.touched" class="text-danger">
            Pseudo est requis
          </div>
        </div>
        <div class="form-group">
          <label for="message">Message <span class="text-danger">*</span></label>
          <textarea formControlName="contenue" id="message" cols="30" rows="4" class="form-control"></textarea>
          <div *ngIf="categoForm.get('contenue')?.invalid && categoForm.get('contenue')?.touched" class="text-danger">
            Message est requis
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="categoForm.invalid">Poster commentaire</button>
      </form>
    </div>
  </div>
</div>


        </div>
      </div>
    </div>
  </div>
</section>

<app-toast #ToastComponent></app-toast>
</div>
<app-footer></app-footer>
