:root {
  --redColor : #A12825;
  --beigeColor : #E7DCD6;
}
.image-article img{
  width: 100%;
  height: 70vh;
}
.article-contenu .card{
  background-color: var(--beigeColor);
}
.article-contenu .card-header{
  color: var(--redColor);
  font-weight: bold;
}
.article-contenu h3{
  color: var(--redColor);
  font-weight: bold;
}
.article-contenu .card-body ul li{
list-style-type: none;
margin-top: 10px;
}
.otherarticle{
  background-color: aqua;
  height: auto ;
  border: 1px solid red;
  border-radius: 4px;
}
.atricle-comment h4{
font-size: 16px;
}
.atricle-comment .my-comment .comment{
background-color: var(--beigeColor);
border-radius: 10px;
width: 75%;
padding: 10px;
margin-bottom: 10px;
list-style-type: none;
}
.atricle-comment .comment-body h3{
font-size: 14px;
color: var(--redColor);
font-weight: bold;
}
.atricle-comment .comment-body p{
font-size: 14px;
/* width: 50%; */
}
.atricle-comment .comment-form-wrap {
width: 75%;
}
.atricle-comment .comment-form-wrap h3{
  font-size: 16px;
  color: var(--redColor);
  font-weight: bold;
}
.atricle-comment .comment-form-wrap button, button{
  font-size: 16px;
  background-color: var(--redColor);
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
  color: #fff;

}
/* form{
  background-color: var(--beigeColor);
  border-radius: 20px;
} */
#showPlus{
  font-size: 12px;
  background-color: #fff;
  color: #000;
  border: 0.5px solid var(--redColor);
  padding: 2px 8px;
  border-radius: 2px;
}
#showPlus:hover{
  font-size: 12px;
  background-color: var(--redColor);
  color: #fff;
  border: 0.5px solid var(--redColor);
  border-radius: 2px;
}

#newAricleContainer{
  border: 1px solid gainsboro;
  width: 60%;
  border-radius: 5px;
  padding: 60px;

}
#newAricleContainer p{
 font-size: 17px;
 font-weight: 200;


}
#lastArticleContainer{
  width: 75%;
}
#lastCard .card{
height: 22rem;
}
#lastCard .card img{
height:14rem;
object-fit: fill;
}
h1{
  font-size: 25px;
  font-weight: 400;
  color: var(--redColor);
  /* margin-top: 20px; */
}



.imageAricle img {
  width: 100%;
  max-height: 60vh; /* Définissez une hauteur maximale */
  border-radius: 5px;
  object-fit: cover;
  display: block;
}
.lastArticle a:hover{
 color: var(--redColor);
}




#lastCard .nbreComment p{
font-size: 14px;
}
#lastCard .card h4{
  font-size: 18px;
  overflow: hidden; /* Empêche le débordement du texte */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limite à 3 lignes par exemple */
  -webkit-box-orient: vertical;

}


#commentStyle p{
font-size: 14px;
}
.card-footer{
  background-color: var(--beigeColor);
}
