.banner img{
  /* height: 70vh;
  width: 100%; */
  height: auto;
  width: 100%;
  object-fit: cover;
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: #a12825;
  margin-top: 20px;
}





.latest-news-bg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.latest-news-bg {
  height: 200px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
  background-color: #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.news-text-box {
  padding: 25px;
  height: 22rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p.blog-meta span {
  margin-right: 15px;
  opacity: 0.6;
  color: #a12825;
  font-size: 0.85em;
}
.news-footer  {
  padding-left: 25px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p.blog-meta span:last-child {
  margin-right: 0;
}

p.blog-meta span i {
  margin-right: 5px;
}

.single-latest-news:hover .latest-news-bg {
  opacity: 0.8;
}
.single-latest-news {
  -webkit-box-shadow: 0 0 20px #dddddd;
  box-shadow: 0 0 20px #dddddd;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single-latest-news:hover {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.single-latest-news h3 {
  font-size: 20px;
  line-height: 1.25em;
  font-weight: 600;
}

.single-latest-news h3 a {
  color: #051922;
}
.single-latest-news {
  margin-bottom: 30px;
}
a.read-more-btn {
  display: inline-block;
  margin-top: 15px;
  color: #051922;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 700;
}

a.read-more-btn:hover {
  color: #a12825;
}

