.admingestioncontainer {
  margin-left: 220px;
  padding: 20px;
  min-height: 100vh;
  /* background-color: var(--beigeColor); */
}

button{
  background-color: aqua;
  /* width: 60px; */
  height: 26px;
  font-size: 12px;
  text-decoration: none;
}
button:hover{
  background-color: aqua;
  /* width: 60px; */
  height: 26px;
  font-size: 12px;
  text-decoration: none;
}

