:root {
  --light: #f6f6f9;
  --primary: #A12825;
  --redColor: #A12825;
  --beigeColor: #E7DCD6;
}

.active {
  color: green;
}

#connexion,
#inscription {
  margin-right: 200px;
}

.row {
  width: 100%;
  margin: 0 auto;
  gap: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row .login-wrap {
  background-color: var(--beigeColor);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img img {
  width: 100%;
  height: 415px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.inscription button {
  width: 20%;
}

/* Responsive styles */
@media (max-width: 1200px) {

  #connexion,
  #inscription {
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .row .login-wrap,
  .img img {
    border-radius: 10px;
  }

  .img img {
    height: auto;
  }

  .inscription button {
    width: 50%;
  }
}

@media (max-width: 768px) {

  #connexion,
  #inscription {
    margin-right: 50px;
  }

  .inscription button {
    width: 70%;
  }
}

@media (max-width: 740px) {
  .row {
    flex-direction: column;
    padding: 0 15px;
  }

  .row .login-wrap,
  .img img {
    border-radius: 10px;
  }

  .img img {
    height: auto;
  }

  .inscription button {
    width: 100%;
  }

  #connexion,
  #inscription {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {

  #connexion,
  #inscription {
    margin-right: 20px;
  }

  .inscription button {
    width: 100%;
  }
}