@if (showConnexion) {
  <!-- button return home -->
  <div class="text-center go-to-home-style">
    <button type="button" class=" btn btn-link btn-sm btn-rounded text-decoration-none" (click)="goToHome()">
      <i class="bi bi-arrow-left-circle"></i> Retour à l'accueil
    </button>
  </div>
<div class="login-container">
  <div class="login-card">
    <div class="login-image">
      <img src="./assets/image/login2.jpg" alt="Connexion">
    </div>

    <div class="login-form-side">
      <h2 class="login-title">Connexion</h2>

      <form [formGroup]="loginForm" (ngSubmit)="loginAdmin()">
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" formControlName="email" placeholder="Entrez votre email" class="form-control" />
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('email')?.hasError('required')">L'email est requis.</small>
            <small *ngIf="loginForm.get('email')?.hasError('email')">L'email n'est pas valide.</small>
          </div>
        </div>

        <!-- Mot de passe -->
        <div class="form-group password-group">
          <label for="password">Mot de passe</label>
          <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
              placeholder="Entrez votre mot de passe" class="form-control" />
            <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'" (click)="togglePasswordVisibility()"></i>
          </div>

          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            <small *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est requis.</small>
            <small *ngIf="loginForm.get('password')?.hasError('minlength')">Le mot de passe doit contenir au moins 6
              caractères.</small>
          </div>
        </div>

        <!-- Bouton -->
        <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
          <ng-container *ngIf="!loadingLogin">Se connecter</ng-container>
          <span class="spinner-border spinner-border-sm" *ngIf="loadingLogin"></span>
        </button>
      </form>
    </div>
  </div>
</div>
}
