:root {
  --light: #f6f6f9;
  --primary: #A12825;
    --redColor: #A12825;
  --beigeColor: #E7DCD6;
}
.active{
  color: green;
}
#connexion, #inscription{
  margin-right: 200px;
  /* background-color: #A12825; */
  /* margin-right: 200px; */
}

.row{
  width: 100%;
  margin: 0 auto;
  gap: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.row .login-wrap{
  background-color: var(--beigeColor);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.img img {
  width: 100%;
  height: 415px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.inscription button{
  width: 20%;
}
button{
  background-color: var(--redColor);
  border: none;
  color: #fff;
  font-weight: bold;
}


.position-relative {
  position: relative; /* Assurez-vous que le parent soit en position relative */
}

.pe-5 {
  padding-right: 2.5rem; /* Ajuste le padding pour laisser de l'espace pour l'icône */
}

.position-absolute {
  position: absolute;
  right: 15px; /* Ajuste selon le style de ton champ */
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%); /* Ajustement pour un centrage parfait */
}

.bi {
  font-size: 1.2rem; /* Ajuster la taille de l'icône si nécessaire */
  color: #000; /* Couleur de l'icône (Bootstrap primary) */
}
.vvvv{
  border: 5px;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  background-color: #fff;
  border-left: 1px solid #000000b0;
}
.www{
  width: 90%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-control:focus {
  outline: none;
  border-color: none; /* Couleur de la bordure Bootstrap */
  border: none;
  box-shadow: none; /* Ombre personnalisée */
}
