<app-sidebar></app-sidebar>
<div class="admingestioncontainer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 text-article">
        @if (onlyArticleData) {
        <div class="article-icone mb-2 d-flex justify-content-end">
          <button type="button" class="btn btn-link btn-sm btn-rounded"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            details
          </button>
          <button type="button" class="ms-2 btn btn-link btn-sm btn-rounded"  data-bs-toggle="modal" data-bs-target="#modalModif"(click)="loadRealisation(onlyArticleData)">
            Modifier
          </button>
          <button type="button" class=" ms-2 btn btn-link btn-sm btn-rounded" (click)="supprimerArticle(onlyArticleData.uuid)" >
            supprimer
          </button>
        </div>
          <div >
            <h4># {{onlyArticleData.titre}} </h4>
            <p> {{onlyArticleData.contenue}} </p>
          </div>
        } @else {
          <div *ngIf="articleSupprimeMessage" class="alert alert-success">
            {{ articleSupprimeMessage }}
          </div>
        }


      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h5 class="mt-2">Liste des commentaires</h5>
        <div class="table-responsive mx-3">

          <!-- Vérification si la liste des commentaires est vide -->
          @if (onlyCommentaireData && onlyCommentaireData.length > 0) {
            <p class="text-end my-2">nombre de commentaire: {{onlyCommentaireData.length}} </p>
            <table class="table align-middle mb-4 bg-white">
              <thead class="bg-light">
                <tr>
                  <th>Pseudo</th>
                  <th>Contenue</th>
                  <th>Posté le</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (comment of onlyCommentaireData; track comment) {
                  <tr>
                    <td>
                      <div class="align-items-center">
                        <p class="fw-bold mb-1"> {{comment.pseudo}} </p>
                      </div>
                    </td>
                    <td>
                      <p class="fw-normal"> {{comment.contenue | paragraph:20}} </p>
                    </td>
                    <td>
                      <p>{{comment.created_at | dateFormat}} </p>
                    </td>
                    <td>
                      <button type="button" class="btn btn-link btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)="detailComment(comment)">
                        details
                      </button>
                      <button type="button" class="ms-2 btn btn-link btn-sm btn-rounded" (click)="supprimerComment(comment.uuid)">
                        supprimer
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          } @else {
            <!-- Message affiché lorsqu'il n'y a pas de commentaires -->
            <p class="text-center my-4">Aucun commentaire disponible pour cet article.</p>
          }
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel"> Details Commentaire</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (comentSelected) {
          <div class="info d-flex justify-content-between">
            <div class="d-flex">
              <i class="bi bi-person" style="font-size: 1.1em; color: #A12825;"></i>
              <p class="ms-2"> {{comentSelected.pseudo}} </p>
            </div>
            <div class="d-flex">
              <i class="bi bi-calendar" style="font-size: 1.1em; color: #A12825;"></i>
              <p class="ms-2"> {{comentSelected.created_at | dateFormat}} </p>
            </div>
          </div>
          <div class="border rounded">
            <p class="text-center"> {{comentSelected.contenue}} </p>
          </div>

        }

          <div class="validajout d-flex justify-content-end" id="valada-final">

            <button href="" class="mt-2 btn btn-link btn-sm btn-rounded" data-bs-dismiss="modal"> FERMER</button>
          </div>

      </div>
    </div>
  </div>
  </div>

<!-- modal detail commetire -->

<!-- modal modifier article -->
 <!-- modal modif article -->
<div class="modal fade" id="modalModif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel">Modifier un article</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="articleForm" (ngSubmit)="modifierAricle()">
          <div class="mb-3">
            <label for="titre" class="form-label">Titre</label>
            <input type="text" class="form-control" id="titre" formControlName="titre"
              placeholder="Titre de la réalisation" required />
            <div *ngIf="
                articleForm.get('titre')?.invalid &&
                articleForm.get('titre')?.touched
              " class="text-danger">
              Le titre est requis.
            </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Contenue</label>
            <textarea class="form-control" id="description" formControlName="contenue" placeholder="Contenue ici"
              rows="4" required></textarea>
            <div *ngIf="
                articleForm.get('contenue')?.invalid &&
                articleForm.get('contenue')?.touched
              " class="text-danger">
              La contenue est requise.
            </div>
          </div>

          <div class="mb-3">
            <label for="categorie_id" class="form-label">Categorie</label>
            <select class="form-select" aria-label="Sélectionner Categorie" name="categorie_id"
              formControlName="categorie_id" required>
              <option value="">Sélectionner Categorie</option>
              @for (catego of dataCategorie ; track catego) {
              <option [value]="catego.id">{{ catego.nomCategorie }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Ajouter une image</label>
            <input type="file" class="form-control" id="image" (change)="onFileSelected($event)" required />
            <div *ngIf="
                articleForm.get('image')?.invalid &&
                articleForm.get('image')?.touched
              " class="text-danger">
              L'image est requise.
            </div>
          </div>
          <div class="d-flex justify-content-end" id="valada-final">
            <button type="submit" class="btn-custom" data-bs-dismiss="modal">Modifier</button>
            <a href="#" class="ms-3" data-bs-dismiss="modal">Annuler</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

