<footer class="ftco-footer ftco-section py-4">
  <div class="container">
    <div class="row ">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <a [routerLink]="['/home']" >
            <img src="assets/image/logo1.jpg" alt="">
          </a>
          <p class="mt-2">BDNF Marketing Solutions est une entreprise individuelle dédiée à aider les entreprises et les particuliers à gérer leur communication, de la conception à la mise en œuvre de leur stratégie. </p>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Liens</h2>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/home']" ><span class="fa fa-chevron-right mr-2"></span>Accueil</a></li>
            <li><a [routerLink]="['/about']" ><span class="fa fa-chevron-right mr-2"></span>A propos</a></li>
            <li><a [routerLink]="['/realisation-user']"><span class="fa fa-chevron-right mr-2"></span>Realisations</a></li>
            <li><a [routerLink]="['/user-service']"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
            <li><a [routerLink]="['/blog-user']" ><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-chevron-right"></i> Marketing Digital</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i>Création de Contenu</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i>Publicité en Ligne</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i>SEO et Optimisation</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i>Réseaux Sociaux</a></li>
            <li><a href="#"><i class="bi bi-chevron-right"></i>Email Marketing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md" id="footerNews">
        <div class="col-md-12  col-lg-3 w-100  text-white" id="email">
          <h4>Rester informer</h4>
          <!-- <div class="container"> -->
            <form >
              <div class="col-md-10 mt-4">
                <label for="mail" class="form-label">S'inscrire a la newsletter</label>
                <input class="form-control mt-4 form-control-sm " name="mail" [(ngModel)]="email" type="text" id="mail" placeholder="Email">
                <div class="invalid-feedback">Veuillez entrer une adresse e-mail valide.</div>
              </div>
              <div class="col-md-5 mt-4">
                <button id="myButton" class="btn btn-danger form-control" (click)="addNewsletter()">S'inscrire</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous les droits réservés | Site réalisé par <i class="fa fa-heart" aria-hidden="true"></i> by <a class="text-decoration-none" href="https://colorlib.com" target="_blank">TerangaCode</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
      <app-toast #ToastComponent ></app-toast>
    </div>
  </footer>
