<div class="content">
  <!-- Navbar -->
  <nav >
    <form action="#"  (submit)="handleSearchToggle()">

    </form>
    <i class="bi bi-list"  (click)="toggleSidebar()" ></i>

    <input type="checkbox" id="theme-toggle"  hidden (change)="toggleTheme()">
    <label for="theme-toggle" class="theme-toggle"></label>
    <a href="#" class="notif">
        <i class='bx bx-bell'></i>
        <span class="count">12</span>
    </a>
    <a href="#" class="profile">
        <img src="images/logo.png">
    </a>
</nav>

<!-- End of Navbar -->
</div>
