:root {
  --light: #f6f6f9;
  --primary: #A12825;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --redColor: #A12825;
  --beigeColor: #E7DCD6;
}

.admingestioncontainer {
  margin-left: 220px;
  padding: 20px;
  min-height: 100vh;
  /* background-color: var(--beigeColor); */
}

.iconbottom{
  margin: 0 auto;
}
.iconbottom i{
  color: var(--redColor);
  font-size: 18px;
  font-weight: bold;
}
.ajoutservicebutton a{
  color: var(--redColor);
  font-weight: bold;
  margin-left: 80px;
  text-decoration: none;
}
.ajoutservicebutton a i{
font-size: 30px;
}

h4{
  color: var(--redColor);
  font-weight: 600;
}
h5{
  color: var(--kergui-green);
  font-weight: bold;
}

#valada-final button {
  background-color: var(--redColor);
  border-radius: 10px;
  padding: 8px;
  border: none;
  color: #fff;
}
#valada-final a{
  background-color: var(--beigeColor);
  border-radius: 10px;
  padding: 8px;
  border: none;
  color: #fff;
  text-decoration: none;
}

#card-temoi .card-body{
  padding: 10px;
  height: 9rem;
  background-color: #fff;
}
#card-temoi .card-body p{
  overflow: hidden; /* Empêche le débordement du texte */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limite à 3 lignes par exemple */
  -webkit-box-orient: vertical;

}
