<app-header></app-header>
  <div class="allContainer">
    <div class="banner mt-5">
      <img class="img-fluid" src="/assets/image/services.png" alt="">
    </div>
    <div class="container">
      <div class="row service-title justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          <!-- <span class="subheading">I am grat at</span> -->
          <h2 class="mb-4 mt-5">Nos Services</h2>
          <p>Découvrez nos services personnalisés pour propulser votre marque et atteindre vos objectifs de communication.</p>
        </div>
      </div>
      <div class="searchbar mb-5">
        <div class="d-flex justify-content-end">
            <div class="input-group w-50 ">
                <input type="search" class="form-control rounded " placeholder="Rechercher" aria-label="Search" [(ngModel)]="searchService" (input)="getArticlesPage()"  aria-describedby="search-addon"  />
                <button type="button   " class="btn text-white" data-mdb-ripple-init   appBlueFont>rechercher</button>
              </div>
              <!-- http://127.0.0.1:8000/storage/{{dataDetailProfil.imageDeProfil}} -->
        </div>
      </div>

      <div class="row">
        @for (service of getArticlesPage() ; track service) {
          <div class="col-md-6 col-lg-4 toto">
            <div class="media block-6 services d-block rounded-lg shadow ftco-animate">
              <div class="icon d-flex align-items-center justify-content-center"><i class="bi bi-graph-up"></i></div>
              <div class="media-body">
                <h3 class="heading mb-3">Stratégie de Marketing Digital</h3>
                <p> Plans sur mesure pour booster votre présence en ligne.</p>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="d-flex flex-wrap justify-content-center my-2 " id="pagination">
        <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
          Précédent
        </button>
        <button class="btn pagiColore ms-2"
                *ngFor="let page of pages"
                [class.current]="page === pageActuelle"
                (click)="pageActuelle = page">
          {{ page }}
        </button>
        <button class="btn pagiColor ms-2"
                [disabled]="pageActuelle === totalPages"
                (click)="pageActuelle = pageActuelle + 1">
          Suivant
        </button>
      </div>
    </div>
  </div>
<app-footer></app-footer>
