<app-header></app-header>
  <div class="allContainer">
    <div class="banner mt-5">
      <img class="img-fluid" src="/assets/image/services.png" alt="">
    </div>
    <div class="container">


      <div class="row mt-4">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="section-title">
            <h3><span class="orange-text">Nos</span> Services</h3>
            <p>Découvrez nos services personnalisés pour propulser votre marque et atteindre vos objectifs de communication.</p>
          </div>
        </div>
      </div>
      <div class="searchbar mb-5">
        <div class="d-flex justify-content-end">
          <div class="input-group w-25 ">
            <input type="search" class="form-control rounded" placeholder="Rechercher" aria-label="Search"
              aria-describedby="search-addon" [(ngModel)]="searchService" (input)="getArticlesPage()"   />
            </div>
            <span class="input-group-text " id="search-addon">
              <i class="bi bi-search"></i>
            </span>
        </div>
      </div>
      @if (loadingData) {
        <app-spinner></app-spinner>
      }

      <div class="row">
        @if(getArticlesPage() && getArticlesPage().length > 0 && !loadingData){
          @for (service of getArticlesPage() ; track service) {
            <div class="col-md-6 col-lg-4 toto">
              <div class="media block-6 services d-block rounded-lg shadow ftco-animate">
                <div class="icon d-flex align-items-center justify-content-center"><i class="bi bi-graph-up"></i></div>
                <div class="media-body">
                  <h3 class="heading mb-3"> {{service.nomService}} </h3>
                  <p> {{service.descriptionService}}.</p>
                </div>
              </div>
            </div>
          }
        }@else {
          <p class="text-center my-4">Aucun service disponible 😒.</p>
        }
      </div>
      <div class="d-flex flex-wrap justify-content-center my-5 ms-5 " id="pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item  "><button class="paginate"  [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1"  >Précédent</button></li>
            <li class="page-item"><button class="paginatee" *ngFor="let page of pages" [class.current]="page === pageActuelle"
              (click)="pageActuelle = page"> {{ page }}</button></li>
            <li class="page-item"><button class="paginat"  [disabled]="pageActuelle === totalPages"
              (click)="pageActuelle = pageActuelle + 1">Suivant</button></li>
          </ul>
        </nav>
    </div>


    </div>
  </div>
<app-footer></app-footer>
