<app-sidebar></app-sidebar>

<div class="admingestioncontainer mt-5">

   <div class="ajoutservicebutton d-flex justify-content-between align-items-center">
        <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModal" > <i class="bi bi-patch-plus-fill"></i> </a>
        <div class="searchbar  ">
          <div class="d-flex  w-100 justify-content-end">
            <div class="input-group ">
              <input type="search" class="form-control rounded" placeholder="Rechercher" aria-label="Search"
                aria-describedby="search-addon" [(ngModel)]="searchService" (input)="getArticlesPage()"   />
              </div>
              <span class="input-group-text" id="search-addon">
                <i class="bi bi-search"></i>
              </span>
          </div>
        </div>
    </div>

    <h4 class="mt-4 text-center">Liste des services</h4>


    <div class="container mt-5">
      <div class="row">
        @if (loadinData) {
          <app-spinner></app-spinner>
        }
        @else if(noResultSearch){
          <p class="text-center"> {{noResultSearch}} </p>
        }
        @else if (serviceData && serviceData.length > 0 ) {
          @for (item of getArticlesPage(); track item) {

            <div class="col-sm-12 col-md-6 col-lg-3  " id="mmm">
              <div class="card border-0 rounded-2">
                <div class="card-header  rounded-0 ">
                  <div class="icone-top">
                    <i class="bi bi-graph-up"></i>
                  </div>
                </div>
                <div>
                  <h6> {{item.nomService}}</h6>
                </div>
                <div class="card-body">

                  <p class="text-center"> {{item.descriptionService}} </p>
                </div>
                <div class="card-footer border-0">
                  <div class="iconbottom w-50 d-flex justify-content-around">
                    <div>
                      <i (click)="loadService(item)" class="bi bi-pencil"  data-bs-toggle="modal" data-bs-target="#modifModal" ></i>
                    </div>
                    <div>
                      <i class="bi bi-eye" data-bs-toggle="modal" data-bs-target="#exampleModal-detail" (click)="getDetailService(item)"></i>
                    </div>
                    <div>
                      <i (click)="supprimerService(item.uuid)" class="bi bi-trash3"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          }
        } @else {
          <p class="text-center py-5">Aucun service disponible 😒</p>
        }
      </div>


      <div class="d-flex flex-wrap justify-content-center my-5 ms-5 " id="pagination">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item  "><button class="paginate"  [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1"  >Précédent</button></li>
            <li class="page-item"><button class="paginatee" *ngFor="let page of pages" [class.current]="page === pageActuelle"
              (click)="pageActuelle = page"> {{ page }}</button></li>
            <li class="page-item"><button class="paginat"  [disabled]="pageActuelle === totalPages"
              (click)="pageActuelle = pageActuelle + 1">Suivant</button></li>
          </ul>
        </nav>
    </div>

    </div>
</div>








<!-- Modal ajout debut -->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"   aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel">Ajouter un service</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  ">
          <form >

              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Nom</label>
                  <input type="text" class="form-control" name="nomService" id="nomService" placeholder="nom service" [(ngModel)]="nomService" required
                  >
                   <!-- <p class="message-erreur" *ngIf="!exactNomProfession">{{verifNomProfession}}</p>
                   <p class="message-success" *ngIf="exactNomProfession"> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> valide</p> -->

                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id=" descriptionService" name="descriptionService" [(ngModel)]=" descriptionService" placeholder="description ici" rows="4"  required
                  ></textarea>

                    <!-- <p class="message-erreur" *ngIf="!exactDescription">{{verifDescrip}}</p>
                    <p class="message-success" *ngIf="exactDescription"><i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> <i class="bi bi-check-square-fill ms-1"></i> valide</p> -->
                </div>
                <div class="validajout d-flex justify-content-end" id="valada-final">
                  <button  data-bs-dismiss="modal" type="submit" (click)="ajouterService()"  class="btn-custom"> Ajouter</button>
                  <a href="" class="ms-3" data-bs-dismiss="modal"> Annuler</a>
                </div>
          </form>


      </div>

    </div>
  </div>
</div>

<!-- modal modification -->

<div class="modal fade " id="modifModal" tabindex="-1" aria-labelledby="exampleModalLabel"   aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h5 class="modal-title " id="exampleModalLabel">Ajouter un service</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  ">
          <form >

              <div class="mb-3">
                  <label for="nom_prof" class="form-label">Nom</label>
                  <input type="text" class="form-control" name="nomService" id="nomService" placeholder="nom service" [(ngModel)]="nomService" required
                  >


                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id=" descriptionService" name="descriptionService" [(ngModel)]=" descriptionService" placeholder="description ici" rows="4"  required
                  ></textarea>


                </div>
                <div class="validajout d-flex justify-content-end" id="valada-final">
                  <button (click)=" modifierService()" data-bs-dismiss="modal" type="submit"  class="btn-custom"> Modifier</button>
                  <a href="" class="ms-3" data-bs-dismiss="modal"> Annuler</a>
                </div>
          </form>


      </div>

    </div>
  </div>
</div>



<!-- modal detail -->
<div class="modal fade" id="exampleModal-detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLabel"> Details Commentaire</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (seriviceSelected) {
          <div class="info d-flex justify-content-between">
            <div class="d-flex">
              <i class="bi bi-person" style="font-size: 1.1em; color: #A12825;"></i>
              <p class="ms-2"> {{seriviceSelected.nomService}} </p>
            </div>
            <div class="d-flex">
              <i class="bi bi-calendar" style="font-size: 1.1em; color: #A12825;"></i>
              <p class="ms-2"> {{seriviceSelected.created_at | dateFormat}} </p>
            </div>

          </div>
          <div class="border rounded">
            <p class="text-start"> {{seriviceSelected.descriptionService}} </p>
          </div>

        }

          <div class="validajout d-flex justify-content-end" id="valada-final">

            <button href="" class="mt-2 btn btn-link btn-sm btn-rounded text-decoration-none" data-bs-dismiss="modal"> Fermer</button>
          </div>

      </div>
    </div>
  </div>
  </div>

