:root {
  --redColor: #a12825;
  --beigeColor: #e7dcd6;
}

.admingestioncontainer {
  margin-left: 220px;
  padding: 20px;
  min-height: 100vh;
  /* background-color: var(--beigeColor); */
}
.my-card{
  background-color: var(--beigeColor);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  height: 18vh;
  padding: 5px 10px;
}
.my-icon{
  height: 10vh;
  /* width: 20%; */
  background-color: var(--redColor);
  border-radius: 5px;
  /* border: 0.8px solid var(--redColor); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}
.my-icon i{
color:#fff ;
font-size: 24px;
}
.col-9{
  /* height: 10vh; */
}
.card-body{
  padding: 5px 10px;
}
