<app-sidebar></app-sidebar>

<!-- <div class="content"> -->

  <!-- <div class="content"> -->

  <!-- </div> -->
  <main>
    <div class="admingestioncontainer container mt-5">

      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card my-card border-0 card-stats card-round">
            <div class="card-body">
              <div class="row">
                <div class="col-3 my-icon">
                  <div class="icon-big text-center">
                    <i class="bi bi-journal-text"></i>
                  </div>
                </div>
                <div class="col-9  col-stats">
                  <div class="numbers">
                    <p class="card-category">Article</p>
                    <h4 class="card-title"> {{dataArticles.length}} </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card my-card border-0 card-stats card-round">
            <div class="card-body">
              <div class="row">
                <div class="col-3 my-icon">
                  <div class="icon-big text-center">
                    <i class="bi bi-trophy"></i>
                  </div>
                </div>
                <div class="col-9  col-stats">
                  <div class="numbers">
                    <p class="card-category">Realisation</p>
                    <h4 class="card-title"> {{dataRealisation.length}} </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card my-card border-0 card-stats card-round">
            <div class="card-body">
              <div class="row">
                <div class="col-3 my-icon">
                  <div class="icon-big text-center">
                    <i class="bi bi-bar-chart"></i>
                  </div>
                </div>
                <div class="col-9  col-stats">
                  <div class="numbers">
                    <p class="card-category">Service</p>
                    <h4 class="card-title"> {{dataService.length}} </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card my-card border-0  card-stats card-round">
            <div class="card-body ">
              <div class="row">
                <div class="col-3 my-icon">
                  <div class="icon-big text-center">
                    <i class="bi bi-newspaper"></i>
                  </div>
                </div>
                <div class="col-9  col-stats">
                  <div class="numbers">
                    <p class="card-category">Newsletter</p>
                    <h4 class="card-title"> {{dataNewsletter.length}} </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>





</main>

<!-- </div> -->
