<app-header></app-header>
<div class="allContainer">
  <div class="banner mt-5">
    <img class="img-fluid " src="/assets/image/about.png" alt="">
  </div>

  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-2">
          @for ( service of last4Service ; track service) {
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="service-item text-center pt-3 rounded-5">
                    <div class="p-4 service">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">{{service.nomService}}</h5>
                        <p>{{service.descriptionService}}</p>
                    </div>
                </div>
            </div>

          }

        </div>
    </div>
</div>


<div class="container-xxl py-5 about-up">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <div class="position-relative h-100">
                  <img class="img-fluid position-absolute rounded w-100 h-100" src="assets/image/bndfabout.png" alt="" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <h6 class="section-title fw-bold  text-start  pe-3">A propos de nous !</h6>
                <h2 class="mb-3">Bienvenue chez <span class="tite-about">Teranga Com</span><br> L’hospitalité au cœur de votre
                  communication</h2>
                <p class="mb-3">Je suis Ndeye Diama Niang, fondatrice de Teranga Com, une entreprise individuelle spécialisée dans le
                  marketing et la
                  communication.
                  Ma mission : vous accompagner dans la création et la mise en valeur de votre image, avec une approche humaine et sur
                  mesure.</p>

                <h3><span class="orange-text"> <img src="/assets/image/objectif.png" class="img-fluid img-objectfif" alt=""> </span> Ce que je fais pour vous :</h3>
                <ul class="list-unstyled my-4 gap-4">
                  <li class="list-unstyle"><i class="bi bi-bullseye  me-3 icon-about"></i>Élaboration de stratégies marketing adaptées à
                    vos objectifs</li>
                  <li><i class="bi bi-people-fill  me-3 icon-about "></i>Gestion et animation de vos réseaux sociaux</li>
                  <li><i class="bi bi-brush  me-3 icon-about"></i>Création de contenus visuels et textuels impactants</li>
                  <li><i class="bi bi-megaphone  me-3 icon-about"></i>Campagnes publicitaires ciblées</li>
                  <li><i class="bi bi-graph-up-arrow  me-3 icon-about"></i>Conseil et suivi pour optimiser vos résultats</li>
                </ul>
              <!-- <div class="row gy-2 gx-4 mb-4">
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                  </div>
              </div> -->
          </div>
          <!-- CARD -->
          <div class="service-item text-center pt-3 rounded-2">
            <div class="p-4">
              <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
              <p>Inspirée par les valeurs de la teranga – hospitalité, écoute et partage – je mets mon expertise et ma passion au service
              de votre réussite</p>
              <h4>Votre image, ma mission.</h4>
            </div>
          </div>
      </div>
  </div>
</div>
  </div>

<app-footer></app-footer>
