@import "ngx-toastr/toastr";




/* You can add global styles to this file, and also import other style files */
:root {
  --light: #E7DCD6;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
--light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --redColor : #A12825;
  --beigeColor : #E7DCD6;
}

.toast-success {
  background-color: var(--success)!important;
  color: #fff !important;
}
.toast-error {
  background-color: var(--redColor);
}

.searchbar button{
  background-color: var(--redColor);
}
.searchbar input{
all: unset;
flex-grow: 1;
box-shadow: 3px 3px 10px -3px rgb(99, 97, 97);
padding: 5px 20px;
}


body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, div, span, input, button {
font-family: 'Poppins', sans-serif;
line-height: 1.5;
color: rgba(0, 0, 0, 0.9);
font-weight: 400;
}
.allContainer{
  margin-top: 80px;
}

 /* style pagination debut */

 .pagiColor {
  background-color: var(--redColor);
  color: white;
}
.pagiColore.current {
  background-color: var(--redColor);
  color: white;
}
.pagiColore {
  border:1px solid  var(--redColor);
  color: var(--redColor);
}
#pagination{
  margin-left: 180px;
  margin-top: 20px;

}

/* styles.css */
.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 0;
}

.content {
  transition: margin-left 0.3s;
  margin-left: 250px;
}

.content.expanded {
  margin-left: 0;
}

