@import "ngx-toastr/toastr";




/* You can add global styles to this file, and also import other style files */
:root {
  --light: #E7DCD6;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
--light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --redColor : #A12825;
  --beigeColor : #E7DCD6;
}

.toast-success {
  background-color: var(--success)!important;
  color: #fff !important;
}
.toast-error {
  background-color: var(--redColor);
}

.searchbar button{
  background-color: var(--redColor);
}
.searchbar input{
all: unset;
flex-grow: 1;
box-shadow: 3px 3px 10px -3px rgb(99, 97, 97);
padding: 5px 20px;
}


body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, div, span, input, button {
font-family: 'Poppins', sans-serif;
line-height: 1.5;
color: rgba(0, 0, 0, 0.9);
font-weight: 400;
}
.allContainer{
  margin-top: 80px;
}

 /* style pagination debut */

 .pagiColor {
  background-color: var(--redColor);
  color: white;
}
.pagiColore.current {
  background-color: var(--redColor);
  color: white;
}
.pagiColore {
  border:1px solid  var(--redColor);
  color: var(--redColor);
}
#pagination{
  margin-left: 180px;
  margin-top: 20px;

}

/* styles.css */
.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar.closed {
  width: 0;
}

.content {
  transition: margin-left 0.3s;
  margin-left: 200px;
}

.content.expanded {
  margin-left: 0;
}

.input-group-text {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}


/* style serach */
.searchbar span{
  background-color: var(--redColor);
  box-shadow: 3px 3px 10px -3px rgb(99, 97, 97);
  margin-right: 20px;
  height: 30px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  /* border-left: none !important; */

}
.searchbar span i{
 color: #fff;

}
.searchbar input{
all: unset;
flex-grow: 1;
box-shadow: 3px 3px 10px -3px rgb(99, 97, 97);
padding: 5px 10px;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
height: 20px;
/* border-right: none !important; */
}



#pagination{
  margin-left: 180px;
  margin-top: 20px;
}
.paginatee.current {
  background-color: var(--redColor);
  /* border-radius: 5px; */
  color: white;
}
.paginate{
  border: 1px solid #a12725a3;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px;
  color: var(--redColor);
}

.paginat{
  border: 1px solid #a12725a3;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  color: var(--redColor);
}
.paginatee{
  border: 1px solid #a12725a3;
  background-color: #fff;
  padding: 5px 10px;
  color: var(--redColor);
}
.paginatee:hover, .paginate:hover, .paginat:hover{
  background-color: var(--redColor);
  color: #fff;
}

button:disabled {
    background-color: #ccc; /* Couleur de fond grise */
    color: #666; /* Couleur du texte grise */
    cursor: not-allowed; /* Curseur non autorisé */
    opacity: 0.6; /* Opacité réduite */
}



/* loadin css */


/* style loader */



.orange-text {
  color: var(--redColor);
  font-weight: 500;
}

.section-title h3 {
  font-size: 40px;
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: var(--redColor);
  margin: 0 auto;
}

.section-title p {
  font-size: 18px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.section-title {
  margin-bottom: 40px;
}

